.divisao-doacoes {
    width: 100%;
    height: 550px;
    margin-top: 30px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divisao-doacoes .parte-roxa {
    background-color: var(--primaria);
    width: 40%;
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divisao-doacoes .parte-clara {
    width: 60%;
    height: 100%;
}

.divisao-doacoes .parte-clara .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divisao-doacoes p {
    color: white;
}

.divisao-doacoes h1 {
    color: white;
    font-weight: normal;
    font-size: 50px;
}

.divisao-doacoes .text {
    color: white;
    margin-top: 40px;
    font-size: 21px;
}

.divisao-doacoes .imagens {
    width: 45%;
    height: 400px;
}

.divisao-doacoes .imagens img {
    width: 100%;
    height: 30%;
    right: 370px;
    object-fit: contain;
    /*mantem imagem inteira*/

    /* object-fit: cover; */
    /* cobre tudo mas corta os cantos */
}

/*Formulario*/

.divisao-doacoes h2 {
    color: var(--primaria-especial)
}