.banner {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.cards {
    display: flex;
    gap: 60px;
    margin: 120px 60px;
    justify-content: center;
    align-items: center;
}

.card {
    flex: 1;
    max-width: 400px;
    width: 100%;
    height: 180px;
    background-color: var(--primaria);
    color: #fff;
    border-color: #000;
    border-style: solid;
    border-width: 0 5px 5px 0;
    border-radius: 12px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.card:hover {
    background-color: var(--primaria-especial);
   
}

.card img {
    position: absolute;
    width: 50%;
    left: 16px;
    bottom: -32px;
}

.card p {
    font-size: 1.5rem;
    width: 50%;
    text-align: right;
}

.banner-2 {
    position: relative;
    padding: 64px 32px 128px 32px;
    color: #fff;
    text-align: center;
    position: relative;
}

.banner-2 .content {
    max-width: 1200px;
    margin: 0 auto;
}

.banner-2 .back {
    background-color: #7875a4;
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.banner-2 .back::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/banner-2.png');
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    pointer-events: none;
    z-index: 0;
}

.banner-2 .title p {
    text-transform: uppercase;
    font-size: 1.25rem;
}
.banner-2 .title p:last-of-type {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.banner-2 .statistics {
    margin-top: 128px;
    display: flex;
    gap: 144px;
}

.banner-2 .statistic {
    flex: 1;
}

.banner-2 .statistic span {
    font-size: 5rem;
    font-weight: 600;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.4);
    position: relative;
}

.banner-2 .statistic span::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 2px;
    background: #fff; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-2 .statistic p {
    font-size: 1.5rem;
    max-width: 220px;
    margin: 12px auto 0 auto;
}

@media (max-width: 700px) {
    .cards {
        flex-direction: column;
        margin: 64px 32px;
    }
    .card img {
        width: 30%;
    }
    .card p {
        font-size: 1rem;
    }
}

@media (max-width: 900px) {
    .banner-2 {
        padding: 32px;
    }
    .banner-2 .title p {
        font-size: 1rem;
    }
    .banner-2 .title p:last-of-type {
        font-size: 1rem;
    }
    .banner-2 .statistics {
        flex-direction: column;
        margin-top: 50px;
        gap: 48px;
    }
    .banner-2 .statistic span {
        font-size: 3rem;
    }
    .banner-2 .statistic p {
        font-size: 1rem;
    }
}